{% extends 'base/base.html.twig' %}

{% block title %}{{ parent() }}Log in{% endblock %}

{% block body %}
<form method="post">

    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 w-100 h-25" id="logo-image"></div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">


            <div class="row">
                <div class="mx-auto col-md-6 col-10 bg-white p-5">
                    <h1 class="mb-4 text-center">Log in</h1>
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                        <div class="form-group">
                            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group mb-3">
{#                            <input type="password" name="password" id="inputPassword" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>#}
                            <input type="password" name="password" id="inputPassword" class="form-control"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                            <small class="form-text text-muted text-right">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                            </small> </div> <button type="submit" class="btn btn-primary">Sign in</button>

                </div>
                <br><br><br><div class="mx-auto"><h3 class="alert alert-danger">Don't have account? Click <a href="/register">here</a> to register!</h3></div>
            </div>
        </div>
    </div>


    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
{% endblock %}
