<div class="py-5 social-media-buttons">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center text-capitalize">Follow us on social media</h3>
                <div class="row text-center">
                    <div class="col-md-4 text-center">
                        <a class="btn text-white small-button" href="https://twitter.com/" style="background: rgb(85, 172, 238);" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn text-white mx-1 big-button" href="https://twitter.com/" style="background:#55acee" target="_blank">
                            <i class="fab fa-twitter"></i> Tweet</a>
                    </div>

                    <div class="col-md-4 text-center mt-2">
                        <a class="btn text-white small-button" href="https://plus.google.com/" style="background: rgb(221, 75, 57);" target="_blank">
                            <i class="fab fa-google-plus"></i>
                        </a>
                        <a class="btn text-white mx-1 big-button" href="https://plus.google.com/" style="background:#dd4b39" target="_blank">
                            <i class="fab fa-google-plus"></i> Share</a>
                    </div>

                    <div class="col-md-4 text-center my-0 mt-2">
                        <a class="btn text-white small-button" href="https://www.pinterest.co.uk/" style="background: rgb(204, 33, 39);" target="_blank">
                            <i class="fab fa-pinterest-p"></i></a>
                        <a class="btn text-white mx-1 big-button" href="https://www.pinterest.co.uk/" style="background:#cc2127" target="_blank">
                            <i class="fab fa-pinterest-square"></i> Pin it</a>
                    </div>

                    <div class="col-md-4 text-center mt-2">
                        <a class="btn text-white small-button" href="https://www.reddit.com/" style="background: rgb(255, 69, 0);" target="_blank">
                            <i class="fab fa-reddit-alien"></i></a>
                        <a class="btn text-white mx-1 big-button" href="https://www.reddit.com/" style="background:#ff4500" target="_blank">
                            <i class="fab fa-reddit"></i> Post</a>
                    </div>

                    <div class="col-md-4 mt-2">
                        <a class="btn text-white small-button" href="https://www.youtube.com/" style="background: rgb(229, 45, 39);" target="_blank">
                            <i class="fab fa-youtube"></i></a>
                        <a class="btn text-white mx-1 big-button" href="https://www.youtube.com/" style="background:#e52d27" target="_blank">
                            <i class="fab fa-youtube"></i> View</a>
                    </div>
                    <div class="col-md-4 mt-2">
                        <a class="btn text-white mx-1 small-button" href="https://www.facebook.com/" style="background:#3b5998" target="_blank">
                            <i class="fab fa-facebook"></i></a>
                        <a class="btn text-white big-button" href="https://www.facebook.com/" style="background:#3b5998" target="_blank">
                            <i class="fab fa-facebook-square"></i> Share</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>